
.MenuTap {
    
    position: fixed;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, 
    rgba(29,54,67,1) 0%, 
    rgba(37,65,81) 35%, 
    rgba(30,82,112,1) 100%);
    left:0;
    top:0;
    width:100vw;
    
    transition: transform .3s cubic-bezier(0,.52,0,1);
    height: 100vh;
    box-shadow: -7px 0px 12px 1px rgba(253, 253, 253, .5);
}

.MenuTap.visible {
    transform: translate3d(0vw,0,0);
}

.MenuTap.hide {
    transform: translate3d(-100vw,0,0) ;
}



.MenuTap_Content {
    margin:0;
    padding: 0;
    list-style: none;
    
   
}

.MenuTapItem {
   
  
   
   

}

.MenuTapItem a {
    
    padding:7px 15px;
    text-decoration: none;
    color:#f1f1f1;
    display: flex;
    justify-content:flex-start;
    box-shadow:0px 12px 1px -12px rgba(255,255,255,.5);
    font-weight: bold;
    font-size:14px;
    
    
}

.MenuTapItem a:hover{
    color:rgba(149,202,62,1);
    box-shadow:0px 12px 1px -12px rgba(149,202,62,1);
}

.MenuTapItem_figure {
    
    height: 30%;
    
    
    padding: 15px 15px;
    margin:0;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    /*background: url('../../images/fondo.jpg') no-repeat center center   rgba(4, 4, 4, .5);*/
    background-size:cover;
   
   
}

.MenuTapItem_figure img{
    border:2px dotted  rgba(149,202,62,.5);
    border-radius: 50%;
    width:60px;
    margin-right:15px;
    margin-bottom: 5px; 
    cursor:pointer;
    transition: .2s;
    
    
   
}
.MenuTapItem_figure img:hover{
    
    transform: rotate(360deg);
}

figure figcaption{
    color: #f1f1f1;
    align-self: center;
    font-weight: bold;

}

figure figcaption p{
    margin:0;
    line-height: 16px;
}

.MenuTap_Tipo{
    font-size:11px;
    font-weight: normal;
    text-align: right;
    color:rgba(149,202,62,1);
}